<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<recordset table="localizationUtil">
  <record id="tableName=&quot;settings&quot;" recordid="settings">
    <tableName type="string">settings</tableName>
    <fieldName sctype="array">
      <fieldName sctype="string">area</fieldName>
      <fieldName sctype="string">module</fieldName>
    </fieldName>
    <globalList sctype="array">
      <globalList sctype="string">securityAreas</globalList>
      <globalList sctype="string">securityModules</globalList>
    </globalList>
    <formatName sctype="array">
      <formatName sctype="string">settings</formatName>
    </formatName>
    <sysmodtime type="dateTime">12/09/10 07:55:11</sysmodtime>
    <sysmoduser type="string">rolfel</sysmoduser>
    <sysmodcount type="decimal">0</sysmodcount>
  </record>
</recordset>
