<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<recordset table="enclapplrev">
  <record id="application.name=&quot;pmc.sql.remapper&quot;" recordid="pmc.sql.remapper">
    <application.name type="string">pmc.sql.remapper</application.name>
    <rev.array sctype="array">
      <rev.array sctype="structure">
        <rev.name type="string">acorvino</rev.name>
        <rev.date type="dateTime">11/14/07 03:30:34</rev.date>
        <rev.desc sctype="array">
          <rev.desc sctype="string">Removed redundant call to update the dbdict record since pmc.sql.edit.map already does that. Cleanup $L.dbdict record on return</rev.desc>
        </rev.desc>
        <change.no type="decimal">2291</change.no>
      </rev.array>
      <rev.array sctype="structure">
        <rev.name type="string">lisa</rev.name>
        <rev.date type="dateTime">02/19/01 22:43:57</rev.date>
        <rev.desc sctype="array">
          <rev.desc sctype="string">Case insensitivity problem fixes.</rev.desc>
        </rev.desc>
        <change.no NullValue="1" type="decimal"/>
      </rev.array>
      <rev.array sctype="structure">
        <rev.name type="string">lisa</rev.name>
        <rev.date type="dateTime">02/19/01 22:41:29</rev.date>
        <rev.desc sctype="array">
          <rev.desc sctype="string">Case insensitivity problem fixes.</rev.desc>
        </rev.desc>
        <change.no NullValue="1" type="decimal"/>
      </rev.array>
      <rev.array sctype="structure">
        <rev.name type="string">sanderson</rev.name>
        <rev.date type="dateTime">01/03/99 23:33:50</rev.date>
        <rev.desc sctype="array">
          <rev.desc sctype="string">Converted to use scmsg().</rev.desc>
        </rev.desc>
        <change.no type="decimal">856</change.no>
      </rev.array>
      <rev.array sctype="structure">
        <rev.name type="string">pcasey</rev.name>
        <rev.date type="dateTime">05/19/98 00:24:25</rev.date>
        <rev.desc sctype="array">
          <rev.desc sctype="string">Won't refresh the cache unless the file is actually on SQL</rev.desc>
        </rev.desc>
        <change.no NullValue="1" type="decimal"/>
      </rev.array>
    </rev.array>
    <descript sctype="array">
      <descript sctype="string">Removed redundant call to update the dbdict record since pmc.sql.edit.map already does that. Cleanup $L.dbdict record on return</descript>
      <descript sctype="string">Case insensitivity problem fixes.</descript>
      <descript sctype="string">Case insensitivity problem fixes.</descript>
      <descript sctype="string">Converted to use scmsg().</descript>
      <descript sctype="string">Won't refresh the cache unless the file is actually on SQL</descript>
    </descript>
    <release type="string">A9701</release>
    <sysmodcount type="decimal">4</sysmodcount>
    <sysmoduser type="string">acorvino</sysmoduser>
    <sysmodtime type="dateTime">11/14/07 03:31:33</sysmodtime>
  </record>
</recordset>
