<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<recordset table="extensionstate">
  <record id="extension=&quot;app&quot;" recordid="app">
    <extension mandatory="true" type="string">app</extension>
    <status type="boolean">true</status>
    <desc type="string">Executable Application</desc>
    <sysmodtime type="dateTime">08/21/11 18:37:47</sysmodtime>
    <sysmoduser NullValue="1" type="string"/>
    <sysmodcount NullValue="1" type="decimal"/>
  </record>
</recordset>
